@model MvcLabManager.Models.Computer


@{
    ViewData["Title"] = "Deletar";
    var nome = ViewData["Deletar"];
}


<div class="text-center">
    <h1 class="display-4">Computador Deletado</h1>
</div>
